@import "variables/colors";
@import "variables/math";
@import "variables/typography";
@import "abstractions/functions";

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient($gradAngle, $gradColor1, $gradColor2, $gradColor3) no-repeat;
	font: $fontSize $fontFamily;
}

.login-form {
	display: inline-block;
	border: 1px $formBorderColor solid;
	border-radius: 0.5rem;
	background: $formBgColor;
	padding: 0.5rem 0.625rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 6%;
}

.users-list {
	margin: 0;
	padding: 0;
	position: absolute;
}

.users-list-item {
	list-style: none;
}

.user-btn {
	display: none;

	&:checked + .user-label {
		top: 0;
	}
}

.user-label {
	position: absolute;
	padding: 0.3125rem 0;
	white-space: nowrap;
	transition: 0.3s;
}

.user-label-0 {
	top: 0;
	color: white;
}

@for $i from 1 through ($numUsers - 1) {
	.user-label-below-#{$i} {
		top: $belowCheckedUser + $userBuffer * ($i - 1);
	}
	.user-label-above-#{$i} {
		top: $aboveCheckedUser - $userBuffer * ($i - 1);
	}
	.user-label-below-#{$i}, .user-label-above-#{$i} {
		color: rgba(255,255,255,power($opacityMultiplier, $i));
	}
}

.passwd-msg {
	visibility: hidden;
	margin: 0;
	padding: 2.0625rem 0 0.6875rem;
	color: red;
	font: 0.875em $fontFamily;
}

.passwd {
	color: white;
	font: 1em $fontFamily;
	padding: 0.3125rem;
	width: 17.1875rem;
	background: $passwdBgColor;
	border: 1px white solid;
	border-radius: 0.25rem;
}

.passwd-btn {
	display: none;
}